.qualys_logo img{
        width:115px;
    }    
	#main-panel{
		margin-left:290px !important;
	}
 	.chart-legend li span{
	    display: inline-block;
	    width: 12px;
	    height: 12px;
	    margin-right: 5px;
	}
	
	.chart-legend ul {
		list-style-type: none;
		padding:0;
		width: 100%;
		
	}
	.chart-legend ul li{
  		display: inline;
  		position: relative;
   		display: inline-block;
	}
	.vulnschart {
		float: left;
		//width:33%;
		position: relative;
		height: 260px;
	    background-color: #fff;
	    border: 1px solid #ddd;
	    display: inline-block;
	    width: 310px;
	    margin: 15px 30px 15px 0px;
	    padding: 15px;
	    box-shadow: 0 4px 16px -2px #607d8d;
	}
	
	.report-chart-div{
		display:table;
		width:100%;
		margin-top: 20px;
		height: 180px;
		position: relative;
	}
	#sevVulns{
		float:left;
	}
	.vulnschart:first-child{
		margin-left:0px;
	}
	
	.vulnschart:last-child{
		margin-right:0px;
	}
	
	.vulnschart-content {
		
	}
	
	.vulnschart-content-tiitle{
		
	}
	
	.chart-legend {
		width:90px;
		float:right;
		position: absolute;
	    top: 50%;
	    height: 100px;
	    margin-top: -50px;
	    right: 0;
	}
	
	.center{
		text-align: center;
	}
	
	.report-title{
		font-size:14px;
		font-weight:bold;
		margin-bottom: 10px;
		width: 100%;
	}
	
	#page-body {
	    height: auto;
	    width: 100%;
	}
	
	#side-panel {
		padding:0;
		//float: left;
		width:250px !important;
		//display:block;
		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
		  box-sizing: border-box;
		display: block;
	    position: absolute;
	    top: 66px;
	    bottom: 0;
	}
	
	.reports-main-content {
		padding: 20px 10px 10px 25px;
	}
	
	.left-panel-container {
		height: 100%;
		background-color:#DDE4E7;
		padding: 15px 5px 80px 5px;
	}
	
	.left-panel-container .left-pill-item{
		margin: 13px 0 -10px 0;
	    color: #37474E;
	    cursor: pointer;
	    height: 35px;
	    padding: 2px 4px 2px 10px;
	    font-size: 18px;
    	color: #607D8D;
    	font-weight: 600;
	}
	
	.left-panel-container .selected{
		cursor: default;
    	background-color: #FFFFFF;
	}
	
	.left-panel-container .left-pill-item span{
		-webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    font-size: 13px;
	    padding: 4px 4px 4px 0;
	    line-height: 29px;
	}
	
	#softwareTable-content, #layersTable-content, #vulnsTable-content{
		margin-top:30px;
		display:table;
		width:100%;
	}
	
	.vulns-table-bottom a.paginate_button, .layers-table-bottom a.paginate_button {
		padding: 0.5em 0.8em !important;
	}

    .task-link {
	    width: 100%;
	    display: inline-block;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}
	
	.summary-title .summary-title-text{
		float:left;
	}
	.summary-title .tooltip{
		width:75%;
		float:left;
	}
    
	.summary-title #tooltip-title, .summary-title .summary-title-text{
	    display: block;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
		color: #607D8D;
		font-family: RobotoLight;
    	font-size: 24px;
    	line-height: 1;
	}
	
	.summary-title .wrapper{
		margin-top: 10px !important;
	}
	
	#summary-left-panel {
		border: 1px solid #e1e7e9;
	    -ms-flex-preferred-size: 80px;
	    flex-basis: 80px;
	    line-height: 20px;
	    text-align: center;
	    padding-top: 13px;
	    font-size: 42px;
	    color: #9e21ae;
	}
	
	#summary-right-panel {
		border: 1px solid #e1e7e9;
	    border-width: 1px 1px 1px 0;
	    background: #f5f5f5;
	    padding: 20px 30px;
	    width: 100%;
	}
	
	#clearingdiv {
	    clear: both;
	}
	
	#summary-content {
		clear: both;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    margin-top: 30px;
	    box-sizing: border-box;
	}
	
	.seperator-line {
		padding-bottom: 10px;
	    border-bottom: 1px solid #CFD6DC;
	    margin-bottom: 10px;
	}
	
	#build-reason-title{
		font-weight:bold;
		margin:0;
	}
	
	#build-reason-text{
		margin-top: -30px;
	}
	
	.build-summary-reason {
		margin-top: 20px;
	}
	.summary-chart-content {
		margin-top:20px;
	}
	
	.vulns-table-top {
		display:table;
		width:100%;
		padding-bottom:20px;
	}
	
	.vulns-table-top div:last-child {
		float:right;
	}
	
	.vulns-table-top div:first-child {
		float:left;
	}
	
	.vulns-table-top div {
		clear:none !important;
		padding: 5px 15px !important;
	}
	
	ul.filters-list li{
		float:left;
		display: inline;
		margin-left: 15px;
	}
	
	ul.filters-list
	{
		list-style: none;
		float: left;
	    margin: 0;
	    padding: 0;
	}
	
	.vulns-table-bottom {
		display: table;
		width: 100%;
		clear:none;
	}
	.vulns-table-bottom div{
		width:33%;
		float:left;
		clear:none !important; 
	}
	
	#vulnsTable_info.dataTables_info{
		text-align: center;
	}
	
	.dataTables_length{
		padding-top:10px;
	}
	
	.label-value{
		font-weight:200;
	}
	
	#softwareTable_filter.dataTables_filter {
		width: 65%;
    	height: 35px;
    	float:right;
    	text-align: left;
	}
	
	#softwareTable_filter.dataTables_filter input{
		width: 90%;
		height:35px;
		font-size: 15px;
	}
    
    #layersTable_filter.dataTables_filter {
		width: 75%;
    	height: 35px;
    	float:right;
    	text-align: left;
	}
	
	#layersTable_filter.dataTables_filter input{
		width: 70%;
		height:35px;
		font-size: 15px;
        font-weight:bold;
	}	
    
	.custom-filter-checkbox {
		-webkit-appearance: checkbox;
	    width: 20px;
	    height: 20px;
	    background: white;
	    border-radius: 5px;
	    border: 1px solid #555;
	}
	
	.custom-filters label, .custom-filters span {
		position: relative;
    	top: -5px;
    	cursor:pointer;
	}
	.filters-label {
		float:left;
		top: 1px !important;
		font-weight:bold;
		margin-right: 8px !important;
	}
	
	th {
	    text-align: left !important;
	    padding: 10px 10px !important ;
	}
	
	.custom-filters-left{
		margin-top: 5px;
	}
	.severity-dropdown{
		margin-left:1px !important;
		-webkit-appearance: menulist-button;
	    width: 40px;
	    height: 20px;
	    background: white;
	    border-radius: 2px;
	    border: 1px solid #555;
	}
	
	.sev-filter-div{
		float:left;
	}
	
	span.sev-filter-label, select.severity-dropdown{
		margin-left: 5px;
	    position: relative;
	    top: 0px;
	}
	
	#vulnsTable_length.dataTables_length{
		    margin-top: 5px;
	}
	
	#trendingCount{
		font: normal 100px/100px arial;
		width:100%;
		float:left;
		display:block;
		text-align:center;
	}
	#trendingSign{
		font: normal 50px/50px arial;
		width:100%;
		float:left;
		padding-left: 10px;
		display:block;
		text-align:center;
	}
	
	.up{
		color: #F44336;
	}
	.down{
		color: #4DAE51;
	}
	.nochange{
		color: #2196F3;
	}
	
	.trending-chart{
		display: block;
	}
	
	.trending-legend{
    	list-style-type: none;
    	padding-left:12px;
	}
	
	.trending-legend li{
    	font-size: 13px;
	}
	
	.trending-legend span
	{
		display: inline-block;
	    width: 12px;
	    height: 12px;
	    margin-right: 5px;
	}
	
	.trending-chart-legend{
		position: absolute;
    	bottom: -36px;
	}
	
	.nochange .sign{
		font-size: 40px;
    	font-weight: bold;
    	position: absolute;
	}
	
	.nochange .count{
		margin: 45px;
	}
    
    #summary-image-id{
    	margin-left:5px;
    	font-size:20px;;
    }
    
	.softwares-custom-filters{
		float:left;
	    padding-top: 10px;
    	margin-left: 20px;
	}
	
	.softwares-custom-filters ul.filters-list{
		margin-top: -5px;
	}
	
	
	.softwares-custom-filters ul.filters-list label{
		position: relative;
    	top: -5px;
    	cursor: pointer;
	}
	
	.softwares-custom-filters ul.filters-list li{
		margin-left: 0px;
	}
	
	#build-summary-table{
		border-collapse: collapse;
		width: 100%;
		margin-top: 15px;
	}
	
	#build-summary-table td{
		height: 44px;
	    background-repeat: no-repeat;
	    background-position: center center;
	    border: 1px solid #d4d4d4;
	    background-color: #ffffff;
	    color: #555555;
	    padding: 11px 5px 11px 5px;
	    vertical-align: middle;
	}
	
	#excluded-items, #potential-checked{
		width: 100%;
		float: left;
		font-style: italic;
	}
	
	.status-icon.image-scan-status{
		height: 16px;
    	float: left;
    	width: 100%;
	}
	.status-icon.legend{
		height: 12px;
    	width: 12px;
    	float: left;
    	margin-top: 2px;
	}
	.status-icon.legend.fail, .status-icon.legend.not-configured{
		margin-top:4px;
	}
	#summary-legend-div span{
		font-size: 11px;
	}
	#summary-chart.vulnschart{
		width: 100%;
		height: 244px;	
	}
	#summary-legend-div{
		margin-top: 5px;
	}
	.image-status-flag{
		height: 24px;
    	width: 24px;
    	background-size: contain;
    	float: left;
	}
	
	.column-header td{
		font-weight: bold;
	}
	
	#build-summary-table td, #build-summary-table th {
  		padding: 10px;
  		text-align:center;
	}
	
	/* tooltip */
	.wrapper{
	    position:relative;
	}
	.tooltip {
	    transform: none; 
	}
	
	.tooltip:hover > .tooltip-text, .tooltip:hover > .wrapper {
	    pointer-events: auto;
	    opacity: 1.0;
	}
	
	.tooltip > .tooltip-text, .tooltip >.wrapper {
	    display: block;
	    position: absolute;
	    z-index: 6000;
	    overflow: visible;
	    padding: 5px 8px;
	    margin-top: 20px;
	    line-height: 16px;
	    border-radius: 4px;
	    text-align: left;
	    color: #fff;
	    background: #000;
	    pointer-events: none;
	    opacity: 0.0;
	    -o-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
	}
	
	/* Arrow */
	.tooltip > .tooltip-text:before, .tooltip > .wrapper:before  {
	    display: inline;
	    top: -5px;
	    content: "";
	    position: absolute;
	    border: solid;
	    border-color: rgba(0, 0, 0, 1) transparent;
	    border-width: 0 .5em .5em .5em;
	    z-index: 6000;
	    left: 20px;
	}
	
	/* Invisible area so you can hover over tooltip */
	.tooltip > .tooltip-text:after, .tooltip > .wrapper:after  {
	    top: -20px;
	    content: " ";
	    display: block;
	    height: 20px;
	    position: absolute;
	    width: 60px;
	    left: 20px;
	}
	
	.wrapper > .tooltip-text {
	    overflow-y: auto;
	    max-height: 90px;
	    display: block;
	    word-break: break-all;
	}
	